*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
body{
    background:linear-gradient(to bottom right, rgba(255, 255, 255, 3) , rgba(193, 224, 247, 4));
    font-size: 20px;
    font-family: 'Poiret One', sans-serif;
}
.topnav {
    position: fixed;
    overflow: hidden;
    background-color: white;
    width: 100%;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #c1e0f7;
    color: black;
    transition:  0.5s;
}

.topnav a.active {
    background-color: #0084ff;
    color: white;
}

.button3 {
    background-color: #0084ff;
}
h1{
    display: flex;
   align-items: center;
   justify-content: center;
}
header, footer{
   display: flex;
   align-items: center;
   justify-content: center;

}.about_container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 40vw;
    height: 30vw;
    border: 5px solid #c1e0f7;
    margin-left: 30.2vw;
    border-radius: 15px;

}
p{
    margin-bottom:291px;
    text-align: center;
}
p1{
    position: absolute;
    margin-top:405px;
    margin-left: 300px;
}
.imgsilly-symphony{
   width: 780px;
   height: 440px;
  margin-left: 340px;
  margin-top: 50px;
}
.img-1{
    border-radius: 15px;
}

.imgCookie-carnaval{
    width: 390px;
    height: 585px;
    margin-left: 540px ;
    margin-top: 50px;
}
.img-2{
    border-radius: 5px;
}